@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>資料庫專題實作</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>飲料店</h2>
        <p><a class="btn btn-default" href="http://localhost:62345/beveragestores">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>推薦飲料</h2>
        <p><a class="btn btn-default" href="http://localhost:62345/recommendeddrinks">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>茶類</h2>
        <p><a class="btn btn-default" href="http://localhost:62345/teas">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>客群</h2>
        <p><a class="btn btn-default" href="http://localhost:62345/usergroups">Learn more &raquo;</a></p>
    </div>
</div>